#login-container
    .facebook
        =link_to "log in with facebook", :controller => "sessions", :action => "login"
    .or
        %h1
            or
    .clef
        <script src='https://clef.io/v1/clef.js' class='clef-code'
        data-app-id='2d49c49704fa906d75938d86da05e957' data-redirect-url='http://localhost:3000/auth/clef/callback'></script>