=content_for :header do
  =render 'layouts/page_header', :title => "Your Rides"

- if @arrivals.length > 0
  .message.is-dark
    .message-header.has-background-grey-light
      %p Arrivals
    .message-body.has-background-white
      %table.table.is-striped.is-hoverable.is-fullwidth
        %thead
          %tr
            %th Arrival Day
            %th Arrival Time
            %th Riders
        %tbody
          - @arrivals.each do |ride|
            - unless ride.users.count == 0 || ride.is_aspc
              %tr
                %th
                  %a{:href => ride_path(ride)}
                    =ride.flighttime.strftime("%B %d %Y")
                %td
                  =ride.flighttime.strftime("%I:%M %p")
                %td
                  =ride.users.size

- if @departures.length > 0
  .message.is-dark
    .message-header.has-background-grey-light
      %p Departures
    .message-body.has-background-white
      %table.table.is-striped.is-hoverable.is-fullwidth
        %thead
          %tr
            %th Departure Day
            %th Ride Time
            %th Riders
        %tbody
          - @departures.each do |ride|
            - unless ride.users.count == 0 || ride.is_aspc
              %tr
                %th
                  %a{:href => ride_path(ride)}
                    =ride.flighttime.strftime("%B %d %Y")
                %td
                  =ride.ridetime.strftime("%I:%M %p")
                %td
                  =ride.users.size

- if @departures.length == 0 and @arrivals.length == 0
  %h2.subtitle
    It looks like you've booked no rides. Would you like to
    =link_to "create", new_ride_path
    or
    =link_to "join", root_path
    one?