/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bulma-0.7.2/css/bulma.css
 *
 *= require comments.css.scss
 *= require custom.css.scss
 *= require mailer.css.scss
 *= require rides.css.scss
 *= require scaffolds.css.scss
 *= require sessions.css.scss
 *= require users.css.scss
 *
 *= require_self
*/

html, body {
    min-width: 775px;
}

.application-body-container {
    background:#4fa9b8;
}

.application-content-section, .application-content-container {
    background: white;
    min-height: 60vh;
}

.page-header {
    /*background-color: #0071a6 !important;*/
}

.clear
{
    clear: both;
}

.alert, .notice
{
    border: 1px solid;
    padding: 10px 0 10px 0;
    margin: 0 200px 20px 200px;
}
.alert
{
    color: #D8000C;
    background-color: #FFBABA;
}

.notice
{
    text-align: center;
    font-size: 1.2em;
    color: #4F8A10;
    background-color: #DFF2BF;
}
