/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$basem2: rgb(32,43,48);
$basem1: rgb(78,113,120);
$baseblue: rgb(79,169,184);
$basep1: rgb(116,192,207);
$basep2: rgb(241,247,226);
