*
{
	margin: 0px;
	padding: 0px;
}

html,body
{
	background: #E9E9E9;
	font-family: 'Verdana';
	font-size: 12px;
	min-width: 960px;
}

.clear
{
	clear: both;
}
#alert
{
	color: red;
}
//Header

#header-container
{
	height: 78px;
	background: #B0B0B0;
	h1
	{
		line-height: 78px;
		float: left;
		margin-left: 20px;
		a
		{
			text-decoration: none;
		}
	}
	p
	{
		line-height: 78px;
		float: right;
		margin-right: 60px;
	}
}
//Airport Select Page
#index
{
	width: 820px;
	margin: auto;
}
.ontario
{
	float: left;
	width: 400px;
}
.lax
{
	width: 400px;
	float:left;
}
//Main
.main-container
{
	width: 900px;
	margin: auto;
	margin-top: 50px;
	h1
	{
		font-size: 3em;
		margin: 0 0 50px 5px;
	}
	h2#flight-header
	{
		padding-left: 5px;
		margin-bottom: 40px;
		p
		{
			float: left;
			font-size: 1.3em;
			width: 300px;
			text-decoration: underline;
		}
		p.numpass
		{
			width: auto;
			margin-left: -45px;
		}
	}
	p#new-ride
	{
		margin: 50px 0 0 5px;
		font-size: 1.5em;
	}
	div.ride
	{
		border: black 1px solid;
		padding: 5px 0px 5px 10px;
		margin: 10px 0 10px 0;
		div.ride-info
		{
			float: left;
			p
			{
				float:left;
			}
			p.flight-date
			{
				width: 300px;
			}
			p.flight-time
			{
				width: 300px;
			}
			p.ride-count
			{
				margin-right: 100px;
			}
		}
		div.ride-opt
		{
			float: left;
			p
			{
				display: inline;
			}
		}
	}
}