// Place all the styles related to the Rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Form

div#new-ride
{
	margin: 50px 0 0 50px;
}
form
{
	margin: 50px 0 30px 0;
	.field
	{
		margin-bottom: 50px;
	}
	label
	{
		font-size: 1.3em;
	}
}

//Show

#show-container
{
	width: 500px;
	margin: auto;
	p
	{
		margin: 5px 0 5px 0;
		font-size: 1.3em;
		b
		{
			font-size: 1.1em;
		}
	}
	.riders
	{
		margin: 20px 0 50px 0;
	}
	.rider
	{
		float: left;
		display: block;
		width: auto;
		margin: 0 7px 10px 0;
		.rider-name
		{
			clear: left;
		}
	}
	#backedit
	{
		float: right;
	}
}