<div class="rides">
  <div id="dflight-header">
    <h2>Date</h2>
    <h2 class="dftime">Ride Time</h2>
    <h2 class="dnumpass">Riders</h2>
    <div class="clear"></div>
  </div>

  <% if @rides %>
    <% @rides.each do |ride| %>
      <% unless ride.users.count == 0 || ride.is_aspc %>
        <div class="ride-container">
          <div class="dride-info">
            <p class="flight-date"><%= ride.flighttime.strftime("%B %d %Y") %></p>

            <% if ride.ridetime %>
              <p class="ride-time"><%= ride.ridetime.strftime("%I:%M %p") %></p>
            <% else %>
              <p class="ride-time">Current Unspecified</p>
            <% end %>

            <p class="ride-count"><%= ride.users.size %></p>

            <%= link_to "", ride %>
            <div class="clear"></div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>