=content_for :header do
  =render 'layouts/page_header', :title => "5C Rideshare", :subtitle => "An ASPC Service"

.columns
  .column
    #ride-search-bar-big
      .box.has-background-light
        .field.has-addons
          %p.control
            %a.button.is-static.is-large.has-background-white
              I'm looking for a shared ride... &nbsp;
          %p.control.is-expanded
            %span.select.is-fullwidth.is-large
              %select#airportSelect-big
                %option{:value => 1} To Ontario
                %option{:value => 2} From Ontario
                %option{:value => 3} To LAX
                %option{:value => 4} From LAX
          %p.control#goButton-big
            %a.button.is-link.is-large
              Go!
    #ride-search-bar-mobile
      %nav.panel
        %p.panel-heading
          I'm looking for a shared ride...
        .panel-block
          %span.select.is-fullwidth
            %select#airportSelect-mobile
              %option{:value => 1} To Ontario
              %option{:value => 2} From Ontario
              %option{:value => 3} To LAX
              %option{:value => 4} From LAX
        .panel-block
          %a.button.is-link.is-outlined.is-fullwidth#goButton-mobile
            Go!

.section
  .columns
    .column.is-5
      .index-notification
        %p
          %strong 5C Rideshare service
        %p
          We know getting to and from the airport can be a hassle, so we're trying to make it easier for students at all of the Claremont Colleges to do so.
        %br
        %p
          The aim of this service is to allow students going to and from Ontario or LAX to connect with each other and split the cost of the ride – simply sign in and create or join a ride at a time which works for you!
    .column.is-2
      .column-divider
    .column.is-5
      .index-notification
        %p
          %strong Pomona Students ONLY: Free Rides to LAX/ONT During Finals Week
        %br
        %p
          The ASPC Rideshare Program is back and will be providing POMONA COLLEGE STUDENTS ONLY (of all class years) transportation (FREE OF CHARGE) from campus to LAX (Los Angeles International) and Ontario Airport on selected times during finals week.
          For more details, sign in with your Pomona login and
          =link_to "create a new ride.", new_ride_path

:javascript
  (function() {
    function goToSelectedPage(selector) {
      let airportId = $(selector).val();
      window.location.href = "#{airport_rides_url}?id=" + airportId;
    }

    $("#goButton-big").click(function() { goToSelectedPage("#airportSelect-big"); });
    $("#goButton-mobile").click(function() { goToSelectedPage("#airportSelect-mobile"); });
  })();