#index
  .ontario
    %h1= link_to "Rides to Ontario", :controller => "rides", :action => "toontario"
    %h1= link_to "Rides from Ontario", :controller => "rides", :action => "fromontario"  
    .clear
  .lax
    %h1= link_to "Rides to LAX", :controller => "rides", :action => "tolax"
    %h1= link_to "Rides from LAX", :controller => "rides", :action => "fromlax"
    .clear
  .clear