#footer-container
  :markdown
    Built by [Jesse Pollak](http://jessepollak.me). Maintained by [The Associated Students of Pomona College](http://aspc.pomona.edu/).

  <div class="fb-like" data-href="http://5crideshare.com" data-send="false" data-width="375" data-show-faces="true"></div>