%nav.navbar#application-header
  .navbar-brand
    %a.navbar-item{:href => '/5crideshare/'}
      %img{:src => asset_path('aspc_logo.png')}
      &nbsp;<strong>5C Ride Share</strong>

    .navbar-burger.burger
      %span
      %span
      %span

  .navbar-menu
    .navbar-start
      -if signed_in?
        =link_to "New Ride", new_ride_path, :class => "navbar-item"
        =link_to "Your Rides", user_path(@current_user), :class => "navbar-item"
        =link_to "Preferences", edit_user_path(@current_user), :class => "navbar-item"

    .navbar-end
      .navbar-item
        -if signed_in?
          =link_to "Logout", {:controller => "sessions", :action => "destroy"}, {:class => "button is-light"}
        -else
          =link_to "Login", {:controller => "sessions", :action => "new"}, {:class => "button is-link"}

:javascript
   $(document).ready(function () {
      $("#application-header .burger").click(function () {
          // Toggle the class on both the burger and the menu
          $(this).toggleClass('is-active');
          $("#application-header .navbar-menu").toggleClass('is-active');
      })
  });